ETMONEY_UI_VIEW.sln
.vs/
.git/
ETMONEY_UI_VIEW/ETMONEY_UI_VIEW/bin/
ETMONEY_UI_VIEW/ETMONEY_UI_VIEW/obj/
ETMONEY_UI_VIEW/ETMONEY_UI_VIEW.Android/bin/
ETMONEY_UI_VIEW/ETMONEY_UI_VIEW.Android/obj/
ETMONEY_UI_VIEW/ETMONEY_UI_VIEW.iOS/bin/
ETMONEY_UI_VIEW/ETMONEY_UI_VIEW.iOS/obj/
ETMONEY_UI_VIEW/ETMONEY_UI_VIEW.UWP/bin/
ETMONEY_UI_VIEW/ETMONEY_UI_VIEW.UWP/obj/

